<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { title }) %>
</head>
<body class="site-body">
    <%- include('partials/navbar') %>
    <%- include('partials/flash') %>
    <main>
        <%- body %>
    </main>
    <%- include('partials/footer') %>
    <script src="/backend.js"></script>
</body>
</html>
